    <div class="head">
        <div class="logo">
            <a href="#"><img src="{{asset('./img/logo1.png')}}"></a>
        </div>
    
        <nav>
            <ul class="nav-links"> 
                <li><a href="{{ path('index')}}">Home</a></li>
                <li><a href="{{ path('index')}}#service">Servicios</a></li> 
                <li><a href="{{ path('index')}}#about">Nosotros</a></li>
                <li><a href="{{ path('index')}}#price">Precios</a></li>
                <li><a href="{{ path('index')}}#contact">Contacto</a></li>
        
            </ul>
            
            <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            <div class="line4"></div>
            </div>
        </nav>
    </div>