{% extends 'base.html.twig' %}

{% block body %}
<div class="content">
    <h2 class="title">Register</h2>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name,  {'attr': {'class':'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button><br>
        <a class="a-register" href="{{ path('login')}}">Login</a>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
