<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <title>LUX L.A.</title>
    <link rel="shortcut icon" href="./img/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>

    {% include('partials/_navigation.html.twig') %}

    <div class="header" id="header">
        <h2 class="title">Inicio</h2>
        <p>
            El mejor lugar para desconectar y disfrutar de los mejores DJs y la mejor musica de la actualidad.
            <br>
            Con un estilo clasico y elegante, donte te vas a sentir comodo en cualquier rincon de la sala.
        </p>

        <div class="btn-home">
            <a href="{{ path('entradas')}}" class="btn">Entradas</a>
            <a href="{{ path('login')}}" class="btn">LUX VIP</a>
        </div>
    </div>


    <!--Content-->
    
    {% block body %}
    {% endblock %}

    <!--End Content-->

    <div class="contact" id="contact">
        <footer class="footer-distributed">

            <div class="footer-right">
      
              <a href="https://www.instagram.com/stefan_kostenko/"><i class="fab fa-instagram"></i></a>
              <a href="https://twitter.com/stefan_kostenko"><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/stefan-kostenko-a754b4253/"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/StefanKostenko"><i class="fab fa-github"></i></a>
      
            </div>
      
            <div class="footer-left">
      
              <p class="footer-links">
                <a class="link-1" href="{{ path('index')}}">Home</a>
      
                <a href="{{ path('index')}}#service">Servicios</a>
      
                <a href="{{ path('index')}}#about">Nosotros</a>
      
                <a href="{{ path('index')}}#price">Precios</a>
      
                <a href="{{ path('index')}}#contact">Contacto</a>
              </p>
      
              <p>dev: Stefan Kostenko &copy; 2022</p>
              <p>numero: 643 34 34 53</p>
            </div>
      
          </footer>
    </div>

    <!--cookies-->
    <div id="cajacookies" class="cajacookies">
        <button onclick="aceptarCookies()" class="pull-right"><i class="fa fa-check"></i> Aceptar y cerrar éste mensaje</button>
        <p>Éste sitio web usa cookies, si permanece aquí acepta su uso.
            Puede leer más sobre el uso de cookies en nuestra.</p> 
         <a href="#">política de privacidad</a>
    </div>

    <script src="js/menu.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/service.js"></script>
    <script src="js/cookies.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/formphp.js"></script>
</body>
</html>